*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
body{
    background-color: #435334;
}
.mainbox{
    background-color: #3b492d;
    max-width: 600px;
    margin: 50px auto;
    padding: 35px;
    border-radius: 20px;
}
.topbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.numberOfWord, .numberOfCharacters,.maxNumberOfTwitter300{
    text-align: center;
    color: #FAF1E4;
    border: 1px solid #faf1e47c;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
}
.numberOfWord h4, .numberOfCharacters h4,.maxNumberOfTwitter300 h4{
    font-size: 15px;
    font-weight: 300;
}
.numberOfWord h2, .numberOfCharacters h2, .maxNumberOfTwitter300 h2{
    font-size: 40px;
    margin-bottom: 20px;
}


.formBox{
    background-color: #3b492d;
    max-width: 600px;
    margin: 50px auto;
    padding: 35px;
    border-radius: 20px;
}
.formBox textarea{
    min-width: 100%;
    resize: none;
    border-radius: 10px;
    padding: 20px;
    background-color: #435334cc;
    border: 1px solid #faf1e47c;
    color: antiquewhite;
    font-size: 20px;
    line-height: 28px;
}
textarea::placeholder{
    color:#ffffff63;
    font-size: 20px;

}
#submit{
    background-color:#CEDEBD ;
    padding: 15px 40px;
    font-size: 20px;
    color: #3b492d;
    border: none;
    border-radius: 10px;
    transition: .4s;
    margin-top: 25px;
}
#submit:hover{
    background-color: #ffffff;
    cursor: pointer;
    

}
#alertMessage{
    color: rgb(255, 67, 67);
    
    padding: 10px;
    border-radius: 6px;
}

@media (max-width:600px) {
    .formBox textarea{
        max-width: 100%;
        
    }
    .formBox{
        margin: 20px;
        

    }
    .mainbox{
       margin: 20px;
       padding: 15px;
       padding-top: 40px;
    }
    .topbox{
        flex-direction: column;
    }
    .topbox >*{
        min-width: 90%;
        margin: 20px;
    }
}
